@font-face {
    font-family: 'omnes-pro';
    src: url('../fonts/omnes-medium-webfont.eot');
    src: url('../fonts/omnes-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-medium-webfont.woff') format('woff'),
         url('../fonts/omnes-medium-webfont.ttf') format('truetype'),
         url('../fonts/omnes-medium-webfont.svg#omnesbold') format('svg');
    font-weight: 500;
    font-style: normal;

}

/* Keep same color on search focus */

.nav>li>a:hover, .nav>li>a:focus {
    background-color: #0fb5e4;
    outline: none;
}


/* Table defs to patch up tables due to mkdocs and bootstrap issue
table {
  max-width: 100%;
  background-color: transparent;
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 14px;
}
th {
  text-align: left;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 5px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #ddd;

}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
table > tbody + tbody {
  border-top: 2px solid #ddd;
}

table > thead > tr > th,
table > thead > tr > td {
  border-bottom-width: 2px;
}

table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
  background-color: #f5f5f5;
}
*/


p {
    margin-bottom: 15px;
}

h2 {
    margin-top: 25px;
    margin-bottom: 25px;
}

h3, h4 {
    margin-top: 25px;
}

body {
    /*padding-top: 70px;*/
}

div.col-md-3 {
    padding-left: 0;
}

div.source-links {
    float: right;
}

.github-btn{
    margin-top: 15px;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that
.bs-sidebar.affix {
    position: static;
} */

.bs-sidebar.well {
    padding: 0
}

/* First level of nav */
.bs-sidebar{
    overflow-y: auto;
    height: 80%;
    position: relative;
    top: 50px;
}
.bs-sidenav {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top:    10px;
    padding-bottom: 10px;
    border-radius: 5px;
    position: relative;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    padding: 1px 20px;
}

.subsection {
    display: block;
    padding: 1px 1px 0px 12px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    border-right: 1px solid;
}
/*.bs-sidebar .nav > .active > a,*/
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a,
.bs-sidebar .nav li.active
 {
    font-weight: bold;
    background-color: #eeeeee;
    border-right: 1px solid;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}
.bs-sidebar.sticky {
    position: fixed !important;
    top: 100px !important;
}

/* Ninefold brand Header / Navigation
------------------------------------------*/
.ninefold-nav .logo{
    width: 99px;
    height: 89px;
    display: inline-block;
    background-image: url("http://ninefold.com/images/logo.png");
    background-position: center;
}
.ninefold-nav .navbar-left{
    width: 100%;
    float: left;
}
.ninefold-nav .navbar-header{
    float: left;
    padding-right: 15px;
}
.ninefold-nav .navbar-collapse {
    width: 100%;
    border-top: 0;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 340px;
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    padding: 0;
    @media(min-width: 768px){
        width: auto;
    }
}
.ninefold-nav .navbar-nav {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    float: none;
    width: 100%;

}

#ninefold-nav .container{
    padding: 0px 15px !important;
}

.ninefold-nav .navbar-nav a{
    font-family: omnes-pro;
    color:#aaacaf !important;
    padding-left: 8px ;
    padding-right: 8px ;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px !important;
}

@media(max-width: 991px){
    .ninefold-nav .navbar-nav a{
        padding-left: 6px !important;
        padding-right: 6px !important;
    }
}
.ninefold-nav .navbar-nav li.active a{
    color: #45B5E1 !important;
    background: none;
}
.ninefold-nav .navbar-nav li.active:hover > a{
    background: none;
}
.ninefold-nav .navbar-nav a:hover{
    color:#fff !important;
}

.ninefold-nav .navbar-nav .signin a {
    background: #282828;
    margin-left: 15px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-radius: 6px;
}
.ninefold-nav .navbar-collapse .navbar {
    padding-top: 30px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 10px 0 10px;
    position: relative;
    z-index: 1000;
    min-height: 50px;
    margin-bottom: 0;
    background-color: #1e1f1e;
}
.navbar-inverse .navbar-toggle{
    top: 22px;
}
.ninefold-nav button span.icon-bar{
    background: #fff !important;
}

.snap-drawer{
    display: none;
}

/* Docs Main Nav
---------------------*/

.main-nav{
    background: #4FB5E1;
    border-bottom: 2px solid #3496BA;
}
.navbar-fixed-top .navbar-collapse{
    padding-left: 15px;
    padding-right: 15px;
}
.navbar{
    padding-top: 29px;
    padding-bottom: 30px;
    border-radius: 0px;
    margin-bottom: 0px;
}
ul.nav li.main {
    font-weight: bold;
}
.navbar-nav>li>a{
    color: #fff;
}
.navbar-nav>li>a:hover, .navbar-nav .open>a:focus, .navbar-nav .open>a{
    background-color: #3496BA;
}
.navbar-nav li.open a li a{
    background: #fff;
}
.main-nav .container{
    width: 100%;
}
.main-nav .navbar-toggle{
    padding: 0;
    font-size: 24px;
    padding-right: 15px;
    color: #fff;
    width: 100%;
    text-align: right;
}

.main-nav .navbar-nav li.active ul.dropdown-menu{

}

button span.icon-bar{
    background: #333333 !important;
}

@media(min-width: 768px){
    #ninefold-nav .container{
        padding: 0;
    }
    .ninefold-nav .navbar-nav{
        float: right;
        width: auto;
    }
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
    .bs-sidebar .nav > .active > ul {
        display: block;
    }
    /* Widen the fixed sidebar */
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 213px;
    }
    .bs-sidebar.affix {
        position: relative; /* Undo the static from mobile first approach */
        top: 50px;
    }
    .bs-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile first approach */
    }
    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .bs-sidebar.affix-bottom,
    .bs-sidebar.affix {
        width: 263px;
    }
}

.container{
    max-width: 970px;
}
.container-fluid{
    max-width: 1170px;
}

img{
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}
