@font-face {
    font-family: 'omnes-pro';
    src: url('../fonts/omnes-medium-webfont.eot');
    src: url('../fonts/omnes-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-medium-webfont.woff') format('woff'),
         url('../fonts/omnes-medium-webfont.ttf') format('truetype'),
         url('../fonts/omnes-medium-webfont.svg#omnesbold') format('svg');
    font-weight: 500;
    font-style: normal;

}
body {
    /*padding-top: 70px;*/
}


div.col-md-3 {
    padding-left: 0;
}

div.source-links {
    float: right;
}



/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that 
.bs-sidebar.affix {
    position: static;
} */

.bs-sidebar.well {
    padding: 0
}

/* First level of nav */
.bs-sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top:    10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    border-right: 1px solid;
}
/*.bs-sidebar .nav > .active > a,*/
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a,
.bs-sidebar .nav li.active 
 {
    font-weight: bold;
    background-color: #eeeeee;
    border-right: 1px solid;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}
.bs-sidebar.sticky{
    position: fixed !important;
    top: 100px !important;
}

/* Ninefold brand Header / Navigation
------------------------------------------*/
.ninefold-nav .logo{
    width: 99px;
    height: 89px;
    display: inline-block;
    background-image: url("http://ninefold.com/images/logo.png");
    background-position: center;
}
.ninefold-nav .navbar-left{
    width: 100%;
    float: left;
}
.ninefold-nav .navbar-header{
    float: left;
    padding-right: 15px;
}
.ninefold-nav .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 340px;
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    padding: 0;
}
.ninefold-nav .navbar-nav {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    float: right;
}

.ninefold-nav .navbar-nav a{
    font-family: omnes-pro;
    color:#aaacaf !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-weight: 500;
    text-transform: uppercase;
}
.ninefold-nav .navbar-nav a:hover{
    color:#fff !important;
}

.ninefold-nav .navbar-nav .signin a {
    background: #282828;
    margin-left: 15px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-radius: 6px;
}
.ninefold-nav .navbar-collapse .navbar {
    padding-top: 30px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 10px 0 10px;
    position: relative;
    z-index: 1000;
    min-height: 50px;
    margin-bottom: 0;
    background-color: #1e1f1e;
}

/* Docs Main Nav
---------------------*/

.main-nav{
    background: #F5F5F5;
    border-bottom: 1px solid #e3e3e3;
}
.navbar-fixed-top .navbar-collapse{
    padding-left: 15px;
    padding-right: 15px;
}
.navbar{
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0px;
    margin-bottom: 0px;
}
ul.nav li.main {
    font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a
      font-size: 1.2em;
      color: #a6a6a6;
}


/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
    .bs-sidebar .nav > .active > ul {
        display: block;
    }
    /* Widen the fixed sidebar */
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 213px;
    }
    .bs-sidebar.affix {
        position: relative; /* Undo the static from mobile first approach */
        top: 50px;
    }
    .bs-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile first approach */
    }
    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .bs-sidebar.affix-bottom,
    .bs-sidebar.affix {
        width: 263px;
    }
} 

.container{
    max-width: 970px;
}